.box{
    width: 1200px;
    margin: 0 auto;
}
.banner{
    max-width: 100%;
    min-width: 1320px;
    height: 460px;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
}
.banner .sskuang{
    position: absolute;
    left: 0;
    bottom: -27px;
    margin: 0 auto;
    right: 0;
    height:64px;
    line-height: 64px;
    width: 800px;
    border-radius: 30px;
    box-sizing: border-box;
    background: #fff;
    box-shadow:rgba(187, 191, 196, 0.2) 0px 8px 24px 0px;
}
.banner .sskuang input:focus,.banner .sskuang button:focus{
    outline: none;
}
.banner .sskuang svg{
    margin-top: 25px;
    margin-left: 35px;
}
.banner .sskuang input{
    font-size: 16px;
    padding-left: 58px;
    box-sizing: border-box;
    width: 589px;
    height: 58px;
    border: 63px;
}
.banner .sskuang button{
    width: 160px;
    height: 64px;
    background: #3370ff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    border: none;
}
.banner .sskuang:hover{
    border-bottom: 1px solid rgb(117, 158, 252) ;
}
.banner .sskuang button:hover{
  background-color: rgb(117, 158, 252);
}


.zhiweibox{
    margin-top: 90px;
}
.zhiweibox .box{
    padding: 0 20px;
}
.zhiweibox .box .sx{
    width: 350px;
    border-right:1px solid #eff1f1;
    padding-right: 35px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.zhiweibox .box .zycont{
    padding-left: 45px;
    margin-bottom: 40px;
    border-left:1px solid #eff1f1;
}
.zhiweibox .box .zycont h1{
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.zhiweibox .box .zycont .jobcont{
    padding: 30px 0 30px 15px;
    width: 700px;
    transition: 0.3s;
}
.zhiweibox .box .zycont .jobcont:hover{
    box-shadow: 0 8px 24px 0 rgb(187 191 196 / 20%);
}
.zhiweibox .box .zycont .jobcont h2{
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}
.zhiweibox .box .zycont .jobcont .xq{
    margin-bottom: 20px;
}
.zhiweibox .box .zycont .jobcont .xq span{
    font-size:20px;
    color: rgb(100, 106, 115);
    display: inline-block;
   margin-right: 20px;
}
.zhiweibox .box .zycont .jobcont .xq span::after{
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    background:rgb(100, 106, 115) ;
    position: absolute;
    right: -11px;
    top: 6.5px;
}
.zhiweibox .box .zycont .jobcont .xq span:nth-child(3):after{
  display: none;
}
.zhiweibox .box .zycont .jobcont p{
    color: #8f959e;
    font-size: 14px;
    margin-top:5px;
}
.zhiweibox .box .sx .sxtopbox{
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eff1f1;
}
.zhiweibox .box .sx .sxtopbox .lf{
    font-weight: bold;
}
.zhiweibox .box .sx .zpcont1 h2{
    padding: 30px 0;
}

.zhiweibox .box .sx .zpcont1 .zpcont11{
    margin-bottom: 30px;
}
.zhiweibox .box .sx .zpcont1 .checkbox{
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #8f959e;
    transition:all 0.3s;
    left: 0;
     background-color: #fff;
     top: 3px;
   border-radius: 2px;
   line-height: 16px;
}
.zhiweibox .box .sx .zpcont1 .checkbox i{
    font-size: 12px;
    text-align: center;
    color: #fff;
    display: none;
}
.zhiweibox .box .sx .zpcont1 .zpcont11 label input:checked~.checkbox{
    background-color: #3370ff;
    
}
.zhiweibox .box .sx .zpcont1 .zpcont11 label input:checked~.checkbox i{
    display: block;
}
.zhiweibox .box .sx .zpcont1 .zpcont11 label input:hover~.checkbox{
    box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 20%);
    border-color: #3370ff;
}
.zhiweibox .box .sx .zpcont1 .checkboxtext{
    padding-left: 10px;
}
.zhiweibox .box .sx .zpcont1 svg{
    width: 16px;
    vertical-align: -3px;
}
.zhiweibox .box .sx .zpcont1 .rg{
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 2px;
    color: #8f959e;
}
.zhiweibox .box .sx .zpcont1 .rg:hover{
    color: #3370ff;
}
.zhiweibox .box .sx .zpcont1 .rg:hover path{
    color: #3370ff;
    fill: #3370ff;
}

.zhiweibox .box .sx .zpcont1 .zpcont11:nth-child(2) .rg .fanwei{
    position: absolute;
    padding: 10px 20px;
    background-color: #fff;
    top: -50px;
    width: max-content;
    left:-107px;
    box-shadow: 0 8px 24px 0 rgb(187 191 196 / 20%);
    display:none;
}
.zhiweibox .box .sx .zpcont1 .zpcont11:nth-child(3) .rg .fanwei{
    position: absolute;
    padding: 10px 20px;
    background-color: #fff;
    top: -50px;
    width: max-content;
    left:-17px;
    box-shadow: 0 8px 24px 0 rgb(187 191 196 / 20%);
    display:none;
}
.zhiweibox .box .sx .zpcont1 .zpcont11:nth-child(2) .rg .fanwei::after{
    position: absolute;
    content: "";
    border-left: 10px solid rgba(255, 255, 255,0);
    border-top: 10px solid rgba(255, 255, 255, 1);
    border-bottom: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    bottom: -19px;
    display: block;
    left: 125px;
}
.zhiweibox .box .sx .zpcont1 .zpcont11:nth-child(3) .rg .fanwei::after{
    position: absolute;
    content: "";
    border-left: 10px solid rgba(255, 255, 255,0);
    border-top: 10px solid rgba(255, 255, 255, 1);
    border-bottom: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    bottom: -19px;
    display: block;
    left: 40px;
}
.zhiweibox .box .sx .zpcont1 .zpcont11 .rg:hover .fanwei{
    display: block;
    color: #8f959e;
}

.zhiweibox .box .sx .zpcont2 h2{
    padding: 30px 0;
}
.zhiweibox .box .sx .zpcont2 .zwcont2box .morny{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition:all 0.3s;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2box .morny:hover{
    background: #8f959e31;
}
.zhiweibox .box .sx .zpcont2 .zwcont2box .morny:hover svg{
    fill: #3370ff;
}
.zhiweibox .box .sx .zpcont2 .zwcont2box .morny svg{
    transform: rotate(270deg);
    font-size: 12px;
    fill: #646a73;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box{
    margin-bottom: 30px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa .checkbox{
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #8f959e;
    transition:all 0.3s;
    left: 0;
     background-color: #fff;
     top: 3px;
   border-radius: 2px;
   line-height: 16px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa  i{
    font-size: 12px;
    text-align: center;
    color: #fff;
    display: none;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa input:checked~.checkbox{
    background-color: #3370ff;
    
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa input:checked~.checkbox i{
    display: block;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa input:hover~.checkbox{
    box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 20%);
    border-color: #3370ff;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa .checkboxtext{
    padding-left: 10px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa .yanfason{
    padding-left: 45px;
    padding-top: 25px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa .yanfason label{
    display: block;
    margin-bottom: 25px;
}
.zhiweibox .box .sx .zpcont2 .zwcont2 .zwcont2box .yanfa .yanfason{
    display: none;
}

.zhiweibox .box .sx .zpcont3 h2{
    padding: 30px 0;
}
.zhiweibox .box .sx .zpcont3 .diqucont .checkbox{
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #8f959e;
    transition:all 0.3s;
    left: 0;
     background-color: #fff;
     top: 3px;
   border-radius: 2px;
   line-height: 16px;
}
.zhiweibox .box .sx .zpcont3 .diqucont{
    display: block;
    margin-bottom: 25px;
}
.zhiweibox .box .sx .zpcont3 .diqucont  i{
    font-size: 12px;
    text-align: center;
    color: #fff;
    display: none;
}
.zhiweibox .box .sx .zpcont3 .diqucont input:checked~.checkbox{
    background-color: #3370ff;
    
}
.zhiweibox .box .sx .zpcont3 .diqucont input:checked~.checkbox i{
    display: block;
}
.zhiweibox .box .sx .zpcont3 .diqucont input:hover~.checkbox{
    box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 20%);
    border-color: #3370ff;
}
.zhiweibox .box .sx .zpcont3 .diqucont .checkboxtext{
    padding-left: 10px;
}
.zhiweibox .box .sx .zpcont3 .gengduo{
    font-size: 20px;
    color: #3370ff;
    cursor: pointer;
}
.zhiweibox .box .zycont .index{
    margin-top: 20px;
}
.zhiweibox .box .zycont .index ul li{
    display:block;
    float: left;
    width: 26px;
    height: 26px;
    margin: 0 5px;
}
.zhiweibox .box .zycont .index ul li:nth-child(2) a{
    font-weight: bold;
    color: #3370ff;
}
.zhiweibox .box .zycont .index ul li a{
    display: block;
    width: 26px;
    height: 26px;
    color: #1f2329;
}
.zhiweibox .box .zycont .index ul li a svg{
    width: 26px;
    height: 26px;
}
.ssbox{
    padding: 40px 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #fff;
    display: none;
    box-shadow:rgba(187, 191, 196, 0.2) 0px 8px 24px 0px;
}
 .sskuang1{
    margin: 0 auto;
    height:64px;
    line-height: 64px;
    width: 1200px;
    border-radius: 30px;

    box-sizing: border-box;
    border: 1px solid rgb(212, 212, 212);
}
 .sskuang1 input:focus, .sskuang1 button:focus{
    outline: none;
}
 .sskuang1 svg{
    margin-top: 25px;
    margin-left: 35px;
}
 .sskuang1 input{
    font-size: 16px;
    padding-left: 58px;
    box-sizing: border-box;
    width: 989px;
    height: 58px;
    border: 63px;
}
 .sskuang1 button{
    width: 158px;
    height: 63px;
    background: #3370ff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    border: none;
}
 .sskuang1:hover{
    border: 1px solid rgb(117, 158, 252) ;
}
 .sskuang1 button:hover{
  background-color: rgb(117, 158, 252);
}